.cover
{
    overflow-x:hidden ;
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    top:0px;
    left:0px
}

.logobox
{
    display: flex;
    position: relative;
    top:0px;
    width: 100vw;
    justify-content: space-between;
}

.logo{
    position: relative;
    right: 0px;
    margin-top: 20px;
    margin-right: 40px;
    align-self: flex-end;
}
/* .logo
{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
} */
.heading span
{
font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 48px;
  font-style: normal;
  color: rgb(138, 146, 255);
}
.heading
{
    margin-top: 30px;;
    margin-left: 20px;
    font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:"YOPQ" 300;
    font-size: 36px;
    color: rgb(255, 31, 31);
}
.heading .hr
{
    display: flex;
    height: 1px;
    justify-content: flex-end;
    background-color: rgb(96, 96, 96);
    margin-top: 10px;
    margin-left: -25px;
    width: 380px;
}
.heading .circle
{
    width: 10px;
    height: 10px;
    transform: translateY(-50%);
    background-color: rgb(209, 208, 208);
    border-radius: 50%;
}

.img
{
    overflow-x: hidden;
    position: absolute;
    right: -100px;
    bottom: 0px;
    /* opacity: 1; */
}
.img .image
{
    width: 554px;
    height:580px;
}
@media (max-width:608) {
    .img{
        opacity: .6;
    }
}

.name
{
    position: absolute;
    margin-left: 20px;
    top:80vh;
}
.name span:nth-child(1)
{
    font-size: 20px;
}
.name span:nth-child(3)
{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}