/* components/IndicatorBar.module.css */

.indicatorBar {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #ddd;
  }
  
  .indicator {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: green;
  }
  
  .lower {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: red;
  }
  
  .upper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: red;
  }
  